# File Kredensial Sensitif
.env

# Cache dan file sementara Python
__pycache__/
*.pyc

# File yang dibuat oleh Flask-Session
/flask_session/

# File spesifik OS
.DS_Store

# Mengabaikan cache Jupyter Notebook
/.ipynb_checkpoints/

# Mengabaikan dataset CSV
Heart_disease_cleveland_new.csv